table,
footer,
.cas-nav-top,
.cas-nav,
.cn-nav-shim,
.cwp-header,
.cwp-modal__email,
.no-print{
  display: none !important;
}
body {
  overflow: inherit !important;
}
body, .cwp, .cwp-modal-overlay, .cwp-modal__print {
  width: auto !important;
  border: 0 !important;
  margin: 0 5% !important;
  padding: 0 !important;
  float: none !important;
  position: static !important;
  overflow: visible !important;
  background:#fff !important;
  box-shadow:none;
}
.cwp-modal__header__buttons{
  display: none !important;
}