$black: #494949;
$blue: blue;
$red: red;
$gray: #ccc;
$gray--dark: #3c3c3c;
$white: whitesmoke;

.cwp{
  font-family: 'Lato', sans-serif;
  table{
    width: 960px;
    margin: 0 auto;
    tr{
      td{
        padding:3px;
      }
      &:nth-of-type(odd){
        background:$gray;
        td{
        }
      }
      &:nth-of-type(1){ 
        background:$gray--dark;
        td{
          color:$white;
          padding:10px;
          text-align: center;
          text-transform: uppercase;
          font-size:16px;
        }
      }
    }
  } 
  a.cwp-button{
    display: block;
    padding: 7px;
    float: left;
    border: 1px solid $black;
    margin: 3px;
    color:$black;
    border-radius: 3px;
    font-size: 14px;
    transition:all 300ms ease;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      background:$black;
      color:$white;
    }
  }
}